.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75); /* 반투명 검은색 배경 */
  z-index: 1000;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* 중앙 정렬 */
  width: 50%; /* 원하는 너비 설정 */
  padding: 20px;
  background: white;
  border-radius: 10px;
  z-index: 1001;
}
